/*
 * Globals
 */

/* Custom default button */

@media (min-width: 50px) {
  .text-sm-center {
    text-align: center !important;
  }
}

.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  background-color: rgb(242, 38, 113);
  color: white;
  border-color: rgb(242, 38, 113);
  text-shadow: none; /* Prevent inheritance from `body` */
}

/*
 * Base structure
 */

.banana {
  text-shadow: 0 0.05rem 0.1rem rgba(0, 0, 0, 0.5);
  box-shadow: inset 0 0 5rem rgba(0, 0, 0, 0.5);
}

.cover-container {
  background: url("../images/background.jpg") no-repeat center center fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/*
 * Header
 */

.nav-masthead .nav-link {
  padding: 0.25rem 0;
  font-weight: 700;
  color: rgba(255, 255, 255, 0.5);
  background-color: transparent;
  border-bottom: 0.25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  color:#f33c7f;
  border-bottom-color: #f33c7f;
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

/* .nav-masthead .active {
  color: #fff;
  border-bottom-color: #fff;
}  */

.home-text {
  font-size: 18px;
  margin: 0;
}

.feature-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 10rem;
  height: 10rem;
  margin-bottom: 3rem;
  font-size: 2rem;
  color: #fff;
  border-radius: 0.75rem;
}

.result {
  padding: 3rem 0rem 0rem 2.75rem;
  color: white;
}

.svg {
  background-image: url("../images/trash3-fill.svg");
}

.playlist-bg-dark {
  height: 100%;
}

.row.main-row {
  background-color: white;
  margin-bottom: 10px;
}

.btn-listen {
  background-color: rgb(242, 38, 113);
  color: white;
}

.btn-details {
  background-color: rgb(116, 68, 156);
  color: white;
}

.btn-discovery {
  background-color: rgb(242, 38, 113);
  color: white;
  margin-right: 1rem;
}

.btn-delete {
  background-color: rgb(116, 68, 156);
  color: white;
}

.details {
  padding: 0rem 0rem 3rem 2.75rem;
  color: white;
}

.image-cover {
  margin-right: 0;
}

.artist-name {
  color: gray;
}

.album-name {
  font-size: 1rem;
}

.audio-layout {
  height: 2rem;
  margin-top: 5px;
  margin-bottom: 7px;
}

audio::-webkit-media-controls-play-button,
audio::-webkit-media-controls-panel {
  background-color: rgb(242, 38, 113);
}

.badge {
  background-color: #f33c7f;
  border-radius: 10px;
}

.playlist-name {
  color: white;
}

.playlist-display {
  margin-top: 500px;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

.card h5 {
  white-space: nowrap;
}

.card img {
  width: 302px;
  height: 302px;
}

.bg {
  position: cover;
  top: 0;
  left: 0;

  /* Preserve aspet ratio */
  min-width: 100%;
  min-height: 100%;
}

.details-layout {
  padding: 3rem 0rem 0rem 2.75rem;
}